In [67]:
import pandas as pd
import numpy as np

In [68]:
data = pd.read_csv("data/learningSet.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [69]:
display(data)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [70]:
categorical = data.select_dtypes([object])

In [71]:
display(categorical)

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

- Check for null values in all the columns

In [72]:
def show_nan(df):
    for col in df.columns:
        if df[col].isna().sum() > 0:
            print("The column", col, "has", df[col].isna().sum(), "NaN" )

In [73]:
show_nan(categorical)

The column GEOCODE2 has 132 NaN

In [74]:
def show_empty_variables(df):
    columns = df.columns
    for col in columns:
        if len(df[df[col].isin(["", " "])][col].value_counts()) == 1:
            empty_amount = df[df[col].isin(["", " "])][col].value_counts()[0]
            percent_empty = np.round((empty_amount / df.shape[0])*100, 2)
            print("The column", col, "has", empty_amount, "empty strings which means", percent_empty, "%" )

In [75]:
show_empty_variables(categorical)

The column OSOURCE has 928 empty strings which means 0.97 %
The column MAILCODE has 94013 empty strings which means 98.53 %
The column PVASTATE has 93954 empty strings which means 98.47 %
The column NOEXCH has 7 empty strings which means 0.01 %
The column RECINHSE has 88709 empty strings which means 92.97 %
The column RECP3 has 93395 empty strings which means 97.89 %
The column RECPGVG has 95298 empty strings which means 99.88 %
The column RECSWEEP has 93795 empty strings which means 98.31 %
The column DOMAIN has 2316 empty strings which means 2.43 %
The column CLUSTER has 2316 empty strings which means 2.43 %
The column AGEFLAG has 29548 empty strings which means 30.97 %
The column HOMEOWNR has 22228 empty strings which means 23.3 %
The column CHILD03 has 94266 empty strings which means 98.8 %
The column CHILD07 has 93846 empty strings which means 98.36 %
The column CHILD12 has 93601 empty strings which means 98.1 %
The column CHILD18 has 92565 empty strings which means 97.02 %
The column GENDER has 2957 empty strings which means 3.1 %
The column DATASRCE has 21280 empty strings which means 22.3 %
The column SOLP3 has 95232 empty strings which means 99.81 %
The column SOLIH has 89212 empty strings which means 93.5 %
The column MAJOR has 95118 empty strings which means 99.69 %
The column GEOCODE has 80168 empty strings which means 84.02 %
The column COLLECT1 has 90210 empty strings which means 94.55 %
The column VETERANS has 84986 empty strings which means 89.07 %
The column BIBLE has 86541 empty strings which means 90.7 %
The column CATLG has 87547 empty strings which means 91.76 %
The column HOMEE has 94525 empty strings which means 99.07 %
The column PETS has 81086 empty strings which means 84.99 %
The column CDPLAY has 83158 empty strings which means 87.16 %
The column STEREO has 82618 empty strings which means 86.59 %
The column PCOWNERS has 84931 empty strings which means 89.02 %
The column PHOTO has 90626 empty strings which means 94.98 %
The column CRAFTS has 87236 empty strings which means 91.43 %
The column FISHER has 88282 empty strings which means 92.53 %
The column GARDENIN has 82010 empty strings which means 85.95 %
The column BOATS has 93384 empty strings which means 97.87 %
The column WALKER has 84911 empty strings which means 88.99 %
The column KIDSTUFF has 93876 empty strings which means 98.39 %
The column CARDS has 94371 empty strings which means 98.91 %
The column PLATES has 94852 empty strings which means 99.41 %
The column LIFESRC has 54032 empty strings which means 56.63 %
The column PEPSTRFL has 50143 empty strings which means 52.55 %
The column RFA_3 has 1950 empty strings which means 2.04 %
The column RFA_4 has 2312 empty strings which means 2.42 %
The column RFA_5 has 33590 empty strings which means 35.21 %
The column RFA_6 has 3557 empty strings which means 3.73 %
The column RFA_7 has 8874 empty strings which means 9.3 %
The column RFA_8 has 3511 empty strings which means 3.68 %
The column RFA_9 has 11245 empty strings which means 11.79 %
The column RFA_10 has 32748 empty strings which means 34.32 %
The column RFA_11 has 10422 empty strings which means 10.92 %
The column RFA_12 has 8923 empty strings which means 9.35 %
The column RFA_13 has 40219 empty strings which means 42.15 %
The column RFA_14 has 18867 empty strings which means 19.77 %
The column RFA_15 has 65477 empty strings which means 68.63 %
The column RFA_16 has 20417 empty strings which means 21.4 %
The column RFA_17 has 27650 empty strings which means 28.98 %
The column RFA_18 has 21263 empty strings which means 22.29 %
The column RFA_19 has 24492 empty strings which means 25.67 %
The column RFA_20 has 50200 empty strings which means 52.61 %
The column RFA_21 has 35212 empty strings which means 36.91 %
The column RFA_22 has 25648 empty strings which means 26.88 %
The column RFA_23 has 56274 empty strings which means 58.98 %
The column RFA_24 has 36973 empty strings which means 38.75 %
The column GEOCODE2 has 187 empty strings which means 0.2 %

In [76]:
categorical = categorical.apply(lambda x: x.replace(" ", np.NaN))

In [77]:
show_nan(categorical)

The column OSOURCE has 928 NaN
The column MAILCODE has 94013 NaN
The column PVASTATE has 93954 NaN
The column NOEXCH has 7 NaN
The column RECINHSE has 88709 NaN
The column RECP3 has 93395 NaN
The column RECPGVG has 95298 NaN
The column RECSWEEP has 93795 NaN
The column DOMAIN has 2316 NaN
The column CLUSTER has 2316 NaN
The column AGEFLAG has 29548 NaN
The column HOMEOWNR has 22228 NaN
The column CHILD03 has 94266 NaN
The column CHILD07 has 93846 NaN
The column CHILD12 has 93601 NaN
The column CHILD18 has 92565 NaN
The column GENDER has 2957 NaN
The column DATASRCE has 21280 NaN
The column SOLP3 has 95232 NaN
The column SOLIH has 89212 NaN
The column MAJOR has 95118 NaN
The column GEOCODE has 80168 NaN
The column COLLECT1 has 90210 NaN
The column VETERANS has 84986 NaN
The column BIBLE has 86541 NaN
The column CATLG has 87547 NaN
The column HOMEE has 94525 NaN
The column PETS has 81086 NaN
The column CDPLAY has 83158 NaN
The column STEREO has 82618 NaN
The column PCOWNERS has 84931 NaN
The column PHOTO has 90626 NaN
The column CRAFTS has 87236 NaN
The column FISHER has 88282 NaN
The column GARDENIN has 82010 NaN
The column BOATS has 93384 NaN
The column WALKER has 84911 NaN
The column KIDSTUFF has 93876 NaN
The column CARDS has 94371 NaN
The column PLATES has 94852 NaN
The column LIFESRC has 54032 NaN
The column PEPSTRFL has 50143 NaN
The column RFA_3 has 1950 NaN
The column RFA_4 has 2312 NaN
The column RFA_5 has 33590 NaN
The column RFA_6 has 3557 NaN
The column RFA_7 has 8874 NaN
The column RFA_8 has 3511 NaN
The column RFA_9 has 11245 NaN
The column RFA_10 has 32748 NaN
The column RFA_11 has 10422 NaN
The column RFA_12 has 8923 NaN
The column RFA_13 has 40219 NaN
The column RFA_14 has 18867 NaN
The column RFA_15 has 65477 NaN
The column RFA_16 has 20417 NaN
The column RFA_17 has 27650 NaN
The column RFA_18 has 21263 NaN
The column RFA_19 has 24492 NaN
The column RFA_20 has 50200 NaN
The column RFA_21 has 35212 NaN
The column RFA_22 has 25648 NaN
The column RFA_23 has 56274 NaN
The column RFA_24 has 36973 NaN
The column GEOCODE2 has 319 NaN

- Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:
    - OSOURCE - symbol definitions not provided, too many categories
    - ZIP CODE - we are including state already

In [78]:
drop_list = []

In [79]:
drop_list.append("OSOURCE")
drop_list.append("ZIP CODE")

- Identify columns that over 85% missing values

In [80]:
def find_nan(df, threshold):
    nan_columns = pd.DataFrame(df.isna().sum()/len(df)).reset_index()
    #nan_columns.columns = ['column_name', 'nulls_percentage']
    nan_threshold_columns = nan_columns[nan_columns.iloc[:,1] > threshold]["index"]
    return list(nan_threshold_columns)

In [81]:
nan_over_0_85 = find_nan(categorical, 0.85)

In [82]:
display(nan_over_0_85)

['MAILCODE',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES']

- Remove those columns from the dataframe

In [83]:
categorical = categorical.drop(columns=nan_over_0_85)

- Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [84]:
categorical["GENDER"].value_counts(dropna=False)

F      51277
M      39094
NaN     2957
U       1715
J        365
C          2
A          2
Name: GENDER, dtype: int64

In [85]:
categorical["GENDER"] = categorical["GENDER"].apply(lambda x: "other" if (x in ["U", "J", "C", "A"]) else x)

In [86]:
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [87]:
categorical["GENDER"].value_counts(dropna=False)

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64

In [88]:
categorical.to_csv("data/cleaned_cat_learningSet.csv")